# Lists
* lists are sequential hetrogeneous dynamic containers which are mutable in nature
* elements of lists are enclosed within'[' ']'
* empty list is []
* wecan also use 'list()' to typecaste an iterator
* since list are seq, we can perform indexing and slicing

In [1]:
x=[1,2.2,3+3j,'4000',print,str,False]
print(x,type(x),len(x),sep='\n')

[1, 2.2, (3+3j), '4000', <built-in function print>, <class 'str'>, False]
<class 'list'>
7

In [2]:
x=[]
print(x,type(x),len(x),sep='\n')

[]
<class 'list'>
0

In [3]:
x=list()
print(x,type(x),len(x),sep='\n')

[]
<class 'list'>
0

In [4]:
x=[1,2.2,3+3j,'4000',print,str,False]
x[0:3]

[1, 2.2, (3+3j)]

In [5]:
x[-2] #negative indexing

str

In [6]:
x[::-1] # reversing the list

[False,
 str,
 <function print(*args, sep=' ', end='\n', file=None, flush=False)>,
 '4000',
 (3+3j),
 2.2,
 1]

In [7]:
x[-5:-2]

[(3+3j),
 '4000',
 <function print(*args, sep=' ', end='\n', file=None, flush=False)>]

In [8]:
x[-2:-5:-1]

[str,
 <function print(*args, sep=' ', end='\n', file=None, flush=False)>,
 '4000']

In [9]:
x[-2:-5]

[]

In [10]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [11]:
z=['append', #add exactly one element
 'clear', #clears the list's contents and returns a empty list
 'copy', #createsa shallow copy of the list object
 'count', # same as string , it counts the number of times an element has occured in the list
 'extend',#adds or extend  the list by two or multiple elements at a time 
 'index',
 'insert',#inserts a new element at said index postion
 'pop',#pops out the last elementin list .If an index is given as input,it pops out the element at said index
 'remove',#removes the said element
 'reverse',#reverse the string
 'sort'] #sorts the string in ascending or descending order
len(z)

11

* append : add exactly one element
* clear : clears the list's contents and returns a empty list
* copy : createsa shallow copy of the list object
* count : same as string , it counts the number of times an element has occured in the list
* extend : adds or extend  the list by two or multiple elements at a time 
* insert : inserts a new element at said index postion
* pop : pops out the last elementin list .If an index is given as input,it pops out the element at said index
* remove : removes the said element
* reverse : reverse the string
* sort : sorts the string in ascending or descending order

In [12]:
x=[1,-1,2.2,3-3j,'hi',False,str,['x','y','z'],'hello']
x[-2][1]

'y'

In [13]:
x[-2][::2]

['x', 'z']

In [14]:
x[-1][-2:-4:-1]

'll'

In [15]:
x[5]

False

In [16]:
y=list(x[-1])
y

['h', 'e', 'l', 'l', 'o']

In [17]:
y=list(x[4].title()+x[-1].title())
y

['H', 'i', 'H', 'e', 'l', 'l', 'o']

In [18]:
y=list(x[4].capitalize()+x[-1].capitalize())
y

['H', 'i', 'H', 'e', 'l', 'l', 'o']

In [19]:
y=list(x[4].replace('h','H')+x[-1].replace('h','H'))
y

['H', 'i', 'H', 'e', 'l', 'l', 'o']

In [20]:
help(x.append)

Help on built-in function append:

append(object, /) method of builtins.list instance
    Append object to the end of the list.

In [21]:
x=[1,-1,2.2,3-3j,'hi',False,str,['x','y','z'],'hello']
print(x,len(x),sep='||')
x.append('innomaatics')
print(x,len(x),sep='||')

[1, -1, 2.2, (3-3j), 'hi', False, <class 'str'>, ['x', 'y', 'z'], 'hello']||9
[1, -1, 2.2, (3-3j), 'hi', False, <class 'str'>, ['x', 'y', 'z'], 'hello', 'innomaatics']||10

In [22]:
x.append('innomatics')
x

[1,
 -1,
 2.2,
 (3-3j),
 'hi',
 False,
 str,
 ['x', 'y', 'z'],
 'hello',
 'innomaatics',
 'innomatics']

# Extend
* The extend() method adds the specified list elements (or any iterable) to the end of the current list.

In [2]:
help(list.extend)

Help on method_descriptor:

extend(self, iterable, /)
    Extend list by appending elements from the iterable.

In [23]:
x=[1, -1, 2.2, (3-3j), 'hi', False, 'str', ['x', 'y', 'z'], 'hello', 'innomaatics']
x.extend([5])
print(x)

[1, -1, 2.2, (3-3j), 'hi', False, 'str', ['x', 'y', 'z'], 'hello', 'innomaatics', 5]

In [24]:
x.append([5,6])
print(x)

[1, -1, 2.2, (3-3j), 'hi', False, 'str', ['x', 'y', 'z'], 'hello', 'innomaatics', 5, [5, 6]]

In [25]:
x.extend([5,6])
print(x)

[1, -1, 2.2, (3-3j), 'hi', False, 'str', ['x', 'y', 'z'], 'hello', 'innomaatics', 5, [5, 6], 5, 6]

# insert
* insert() method inserts a given element at a given index in a list using Python.

In [5]:
help(list.insert)

Help on method_descriptor:

insert(self, index, object, /)
    Insert object before index.

In [26]:
#insert
x.insert(5,[50,55])
x

[1,
 -1,
 2.2,
 (3-3j),
 'hi',
 [50, 55],
 False,
 'str',
 ['x', 'y', 'z'],
 'hello',
 'innomaatics',
 5,
 [5, 6],
 5,
 6]

# pop
* The pop() method removes the element at thespecified position

In [6]:
help(list.pop)

Help on method_descriptor:

pop(self, index=-1, /)
    Remove and return item at index (default last).

    Raises IndexError if list is empty or index is out of range.

In [4]:
#pop
x=[1,
 -1,
 2.2,
 (3-3j),
 'hi',
 [50, 55],
 False,
 'str',
 ['x', 'y', 'z'],
 'hello',
 'innomaatics',
 5,
 [5, 6],
 5,
 6]
z=x.pop()
print(x)
z

[1, -1, 2.2, (3-3j), 'hi', [50, 55], False, 'str', ['x', 'y', 'z'], 'hello', 'innomaatics', 5, [5, 6], 5]

6

In [28]:
print(x.pop(13))

5

In [29]:
len(x)

13

# remove
* remove() is an inbuilt function in the Python programming language that removes a given object from the List

In [7]:
help(list.remove)

Help on method_descriptor:

remove(self, value, /)
    Remove first occurrence of value.

    Raises ValueError if the value is not present.

In [30]:
#remove
x.remove('innomaatics')
x

[1,
 -1,
 2.2,
 (3-3j),
 'hi',
 [50, 55],
 False,
 'str',
 ['x', 'y', 'z'],
 'hello',
 5,
 [5, 6]]

# reverse
* reverse() method returns an iterator that accesses the given sequence in the reverse order.

In [10]:
help(list.reverse)

Help on method_descriptor:

reverse(self, /)
    Reverse *IN PLACE*.

In [31]:
x.reverse()
print(x)

[[5, 6], 5, 'hello', ['x', 'y', 'z'], 'str', False, [50, 55], 'hi', (3-3j), 2.2, -1, 1]

In [32]:
x

[[5, 6],
 5,
 'hello',
 ['x', 'y', 'z'],
 'str',
 False,
 [50, 55],
 'hi',
 (3-3j),
 2.2,
 -1,
 1]

In [33]:
a=[1,2,3]
a.extend([4,5])
a

[1, 2, 3, 4, 5]

In [34]:
[1,2,3,4,5].remove(3)

In [42]:
a=[-50,-74,4,10,23]
b=[0.56,1.89,-0.86,-0.99,-10.10]
c=a+b
d=[1+1j,2-2j,10+10j]
e=['venu','venngal','deepthi','shravani']
f=c+d
g=f+e

# sort
* The sort function can be used to sort the list in both ascending and descending order

In [11]:
help(list.sort)

Help on method_descriptor:

sort(self, /, *, key=None, reverse=False)
    Sort the list in ascending order and return None.

    The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
    order of two equal elements is maintained).

    If a key function is given, apply it once to each list item and sort them,
    ascending or descending, according to their function values.

    The reverse flag can be set to sort in descending order.

In [39]:
a.sort()
print(a)

[-74, -50, 4, 10, 23]

In [40]:
b.sort(reverse=True)
b

[1.89, 0.56, -0.86, -0.99, -10.1]

In [46]:
d.sort( ) #complex and anything with complex we cant sort
print(d)

TypeError: '<' not supported between instances of 'complex' and 'complex'

In [43]:
e.sort( )
print(e)

['deepthi', 'shravani', 'venngal', 'venu']

In [45]:
g.sort( )
print(g)

TypeError: '<' not supported between instances of 'complex' and 'float'

# count
*  count() method returns the count of how many times a given object occurs in a List

In [12]:
help(list.count)

Help on method_descriptor:

count(self, value, /)
    Return number of occurrences of value.

In [53]:
#count
z=[1,2,3,1,2,3] #count is how times a object is repeating # index(3,3) is (starting index,findthe index)
z.count(1),z.index(3,3)

(2, 5)

# clear
* The clear() method removes all the elements from a list

In [13]:
help(list.clear)

Help on method_descriptor:

clear(self, /)
    Remove all items from list.

In [58]:
z.clear()
z

[]

In [59]:
print(x)
x.clear()
print(x)

[[5, 6], 5, 'hello', ['x', 'y', 'z'], 'str', False, [50, 55], 'hi', (3-3j), 2.2, -1, 1]
[]

# shallow copy vs deepcoppy
* Shallow copies duplicate as little as possible. A shallow copy of a collection is a copy of the collection structure, not the elements. With a shallow copy, two collections now share the individual elements.

* Deep copies duplicate everything. A deep copy of a collection is two collections with all of the elements in the original collection duplicated.

In [14]:
a=['one','two','three']
b=a
print(a,b,sep='\n')

['one', 'two', 'three']
['one', 'two', 'three']

In [15]:
a.extend([4,5,6])
print(a,b,sep='\n')

['one', 'two', 'three', 4, 5, 6]
['one', 'two', 'three', 4, 5, 6]

In [16]:
print(a,id(a))
print(b,id(b))

['one', 'two', 'three', 4, 5, 6] 1912888286208
['one', 'two', 'three', 4, 5, 6] 1912888286208

In [17]:
#copy
c=a.copy()
a.reverse()
print(a,id(a))
print(c,id(c))

[6, 5, 4, 'three', 'two', 'one'] 1912888286208
['one', 'two', 'three', 4, 5, 6] 1912888192256

In [48]:
d=[111,222,333,['one','two','three']]
e=d.copy()
print(d,id(d))
print(e,id(e))

[111, 222, 333, ['one', 'two', 'three']] 1912889175552
[111, 222, 333, ['one', 'two', 'three']] 1912889193024

In [49]:
d[3][1]=2
d[3].append('z')
print(d)

[111, 222, 333, ['one', 2, 'three', 'z']]

In [50]:
print(e)

[111, 222, 333, ['one', 2, 'three', 'z']]

In [51]:
d[0]='zzz'
d[3][1]=2
d[3].append('z')
print(d)

['zzz', 222, 333, ['one', 2, 'three', 'z', 'z']]

In [52]:
d is e

False

In [53]:
d[3] is e[3]

True

In [54]:
#deepcopy
import copy
from copy import deepcopy

In [55]:
f=deepcopy(e)
print(f,id(f))
print(e,id(e))

[111, 222, 333, ['one', 2, 'three', 'z', 'z']] 1912888217216
[111, 222, 333, ['one', 2, 'three', 'z', 'z']] 1912889193024

In [56]:
e[0]='zzz'
e[3][1]=2.2
e[3].append('z')
print(e)

['zzz', 222, 333, ['one', 2.2, 'three', 'z', 'z', 'z']]

In [57]:
f

[111, 222, 333, ['one', 2, 'three', 'z', 'z']]

In [58]:
f[3] is not e[3]

True

In [59]:
print(f[3],id(f[3]))
print(e[3],id(e[3]))

['one', 2, 'three', 'z', 'z'] 1912889183808
['one', 2.2, 'three', 'z', 'z', 'z'] 1912889194112

In [60]:
a=[1,2,3]
b=a
d=[1,2,[3,4]]
c=d.copy()
e=d[2]
print(a,id(a))
print(b,id(b))
print(c,id(c))
d[2].append(5)
print(d[2])
print(e)
d is e

[1, 2, 3] 1912889176512
[1, 2, 3] 1912889176512
[1, 2, [3, 4]] 1912889170624
[3, 4, 5]
[3, 4, 5]

False